In [1]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [2]:
from sklearn.preprocessing import LabelEncoder
enc  = LabelEncoder()
data.buying = enc.fit_transform(data.buying)
data.maint = enc.fit_transform(data.maint)
data.lug_boot = enc.fit_transform(data.lug_boot)
data.safety = enc.fit_transform(data.safety)
data.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      2        2         2       1   unacc
1       3      3      2        2         2       2   unacc
2       3      3      2        2         2       0   unacc
3       3      3      2        2         1       1   unacc
4       3      3      2        2         1       2   unacc

In [3]:
X = data.iloc[:,:-1]
y = data.outcome
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [4]:
from collections import Counter
Counter(y)

Counter({'acc': 384, 'good': 69, 'unacc': 1210, 'vgood': 65})

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=10)
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [6]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
print(Counter(y_test))
pd.crosstab(y_test,y_predict)

0.9421296296296297
Counter({'unacc': 307, 'acc': 84, 'vgood': 22, 'good': 19})

col_0    acc  good  unacc  vgood
outcome
acc       77     1      6      0
good       5    14      0      0
unacc      3     0    304      0
vgood      7     2      1     12

In [7]:
!pip install imblearn

Requirement already satisfied: imblearn in /Users/ashok/anaconda3/lib/python3.6/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /Users/ashok/anaconda3/lib/python3.6/site-packages (from imblearn) (0.3.3)
Requirement already satisfied: scikit-learn in /Users/ashok/anaconda3/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (0.19.1)
Requirement already satisfied: numpy in /Users/ashok/anaconda3/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (1.15.4)
Requirement already satisfied: scipy in /Users/ashok/anaconda3/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (1.0.0)
You are using pip version 18.1, however version 19.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [8]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [11]:
Counter(y_train)

Counter({'acc': 300, 'good': 50, 'unacc': 903, 'vgood': 43})

In [12]:
X_train_smote, y_train_smote = smote.fit_sample(X_train,y_train)

In [13]:
Counter(y_train_smote)

Counter({'acc': 903, 'good': 903, 'unacc': 903, 'vgood': 903})

In [14]:
model = KNeighborsClassifier()
model.fit(X_train_smote,y_train_smote)
y_predict = model.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
print(Counter(y_test))
pd.crosstab(y_test,y_predict)

0.9398148148148148
Counter({'unacc': 307, 'acc': 84, 'vgood': 22, 'good': 19})

col_0    acc  good  unacc  vgood
outcome
acc       73     5      4      2
good       0    19      0      0
unacc     12     0    295      0
vgood      1     2      0     19